<body>
    <p id="notice"></p>

<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>リーダブルコード</td>
        <td>より良いコードを書くためのシンプルで実践的なテクニック</td>
        <td><a class="show_89169" href="/books/89169">Show</a></td>
        <td><a class="edit_89169" href="/books/89169/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_89169" rel="nofollow" data-method="delete" href="/books/89169">Destroy</a></td>
      </tr>
      <tr>
        <td>トラブル知らずのシステム設計</td>
        <td>システム設計の要点を図解で説明してくれます</td>
        <td><a class="show_89170" href="/books/89170">Show</a></td>
        <td><a class="edit_89170" href="/books/89170/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_89170" rel="nofollow" data-method="delete" href="/books/89170">Destroy</a></td>
      </tr>
      <tr>
        <td>たのしいRuby</td>
        <td>Rubyの入門におすすめです</td>
        <td><a class="show_89171" href="/books/89171">Show</a></td>
        <td><a class="edit_89171" href="/books/89171/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_89171" rel="nofollow" data-method="delete" href="/books/89171">Destroy</a></td>
      </tr>
      <tr>
        <td>入門Git</td>
        <td>gitについての基本操作から内部構造まで解説してくれます</td>
        <td><a class="show_89172" href="/books/89172">Show</a></td>
        <td><a class="edit_89172" href="/books/89172/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_89172" rel="nofollow" data-method="delete" href="/books/89172">Destroy</a></td>
      </tr>
      <tr>
        <td>アルゴリズム図鑑</td>
        <td>アルゴリズムについてカラーイラストでしっかり解説してくれます</td>
        <td><a class="show_89173" href="/books/89173">Show</a></td>
        <td><a class="edit_89173" href="/books/89173/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_89173" rel="nofollow" data-method="delete" href="/books/89173">Destroy</a></td>
      </tr>
      <tr>
        <td>達人プログラマー</td>
        <td>プログラマ入門者は必読！</td>
        <td><a class="show_89174" href="/books/89174">Show</a></td>
        <td><a class="edit_89174" href="/books/89174/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_89174" rel="nofollow" data-method="delete" href="/books/89174">Destroy</a></td>
      </tr>
      <tr>
        <td>データベース実践入門</td>
        <td>効率的なSQL文を教えてくれます</td>
        <td><a class="show_89175" href="/books/89175">Show</a></td>
        <td><a class="edit_89175" href="/books/89175/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_89175" rel="nofollow" data-method="delete" href="/books/89175">Destroy</a></td>
      </tr>
  </tbody>
</table>


<h2>New book</h2>
<form class="new_book" id="new_book" action="/books" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="CBa7FaYubkmfk7OlFUVLbkEagL5rbskztiaTzZrVpLJlOFpHhd9Lk56KIffT4lpDRoqVv03VXR8ERHWBeeFdyQ==">

  <div class="field">
    <label for="book_title">Title</label>
    <input class="book_title" type="text" name="book[title]" id="book_title">
  </div>

  <div class="field">
    <label for="book_body">Body</label>
    <textarea class="book_body" name="book[body]" id="book_body"></textarea>
  </div>

  <div class="actions">
    <input type="submit" name="commit" value="Create Book" data-disable-with="Create Book">
  </div>
</form>
  

</body>